.arshmodule {
    .arshmodule-html-field-icon {
        .input-group-prepend {
            max-width: 36%; // for not wrapping input-group

            select {
                text-overflow: ellipsis;
            }
        }
        input {
            font-size: 14px;
            padding: 18px 10px;
        }
        .input-group-append {
            max-width: 26%; // for not wrapping input-group
            text-align: center;

            .input-group-text {
                max-width: 100%; // for not overflowing
                justify-content: center; // force centering also in tinny place

                i {
                    font-size: 20px;
                }
            }
        }
    }
}
