.arshmodule {
    .arshmodule-addon-language {
        .dropdown {
            .dropdown-toggle {
                background-color: #222222; // editable from JS according to current language
                @include arsh--transition(unset);
            }
            .dropdown-menu {
                background-color: black; // underlay
                @include arsh--border-radius(6px 4px 6px 6px);

                .dropdown-item {
                    background-color: #222222; // editable from JS according to current language
                    @include arsh--border-radius(unset);

                    &:first-child {
                       @include arsh--border-radius(5px 3px 0 0);
                    }
                    &:last-child {
                        @include arsh--border-radius(0 0 5px 5px);
                    }
                }
            }
        }
    }
}
