.arshmodule {
    .arshmodule-html-field-link {
        .input-group-prepend {
            max-width: 36%; // for not wrapping input-group
            @include arsh--border-radius(0.25rem 0 0 0.25rem); // because is overwritten sometimes
        }
        select {
            text-overflow: ellipsis;
        }
        input {
            font-size: 14px;
            padding: 18px 10px;
        }
        .input-group-append {
            max-width: 26%; // for not wrapping input-group

            .input-group-text {
                max-width: 100%; // for not overflowing
                background-color: white;
                justify-content: center; // force centering also in tinny place
                text-align: left;
            }
        }
    }
}
