.arshmodule {
    .arshmodule-html-field-images {
        .row {
            .box {
                $height: 160; // px (min 110)
                margin-bottom: 10px;

                position: relative;
                border: 1px solid #cdcdcd;
                @include arsh--border-radius(5px);
                padding: 15px;
                text-align: center;
                height: #{$height}px;
                @include arsh--transition(500ms ease-in-out all); // for background table chess

                &:hover .image {
                    visibility: visible;
                    @include arsh--opacity(1);
                }

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
                .image {
                    visibility: hidden;
                    @include arsh--opacity(0);
                    @include arsh--transition(visibility 0s, opacity 0.25s linear);
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                    background-color: rgba(0, 0, 0, 0.5);
                    @include arsh--border-radius(5px);

                    &.visible {
                        visibility: visible;
                        @include arsh--opacity(1);
                    }

                    .image-actions {
                        position: absolute;
                        bottom: #{max(60, (40 / 100) * $height)}px; // 40% (minim 60px)
                        left: 0px;
                        right: 0px;

                        > button, > a, > div {
                            max-width: 40%;
                            justify-content: center;
                            text-align: center;
                            display: inline-block;
                        }

                        .dropdown-menu {
                            min-width: auto;
                        }
                    }
                    .image-name {
                        height: #{max(55, (35 / 100) * $height)}px; // 35% (minim 55px)
                        line-height: #{max(55, (35 / 100) * $height)}px; // 35% (minim 55px)
                        padding: 0 5%;
                        @include arsh--border-radius(0 0 5px 5px);

                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        right: 0px;

                        small {
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            display: inherit;
                        }
                        .input-group {
                            display: inline-flex;

                            .input-group-text {
                                font-size: inherit; // having same size as the input
                            }
                        }
                    }
                }
            }

            .image-uploaded {
                .box {
                    border-color: orange;
                }
            }
        }

        .note {
            clear: both;
        }
    }
}
