.arshmodule {
    form.arshmodule-form {
        .card {
            border: none;
            border-top-width: 3px;
            border-top-color: #dc3545;
            border-top-style: solid;

            .card-header {
                border-radius: 0;
                background-color: #f6f6f6;
                color: #dc3545;
            }
        }

        div[data-key] {
            & > label[for] {
                white-space: nowrap;
                margin-top: 10px;
                margin-bottom: 0px;
                text-overflow: ellipsis;
                overflow: hidden;
                display: block;
            }

            &[data-lg] {
                div[language] {
                    position: relative;

                    &::after {
                        cursor: pointer;
                        content: attr(language);
                        text-transform: uppercase;
                        position: absolute;
                        letter-spacing: 1px;
                        left: calc(100% - 1px);
                        top: 8px;
                        font-size: 9px;
                        color: white;
                        background-color: #dc3545;
                        padding: 1px 2px 1px 3px;
                        z-index: 1;
                    }
                }
            }

            *[readonly] {
                background-color: #e9ecef; // as disabled ones
            }

            .bootstrap-tagsinput {
                span {
                    margin: 2px;
                }

                input {
                    /* prevent styling at autocomplete selection */
                    &:-webkit-autofill,
                    &:-webkit-autofill:hover,
                    &:-webkit-autofill:focus,
                    &:-webkit-autofill:active  {
                        -webkit-box-shadow: 0 0 0 30px #fff inset !important;
                        -webkit-text-fill-color: #555 !important;
                    }
                }
            }

            .note {
                color: #6c757d; // gray
                display: block;
                float: right;
                text-align: right;
                font-size: 11px;
            }

            *[form-error] {
                min-height: 16px;
                height: auto;
            }
        }

        .arshmodule-html-piece-saver {
            position: -webkit-sticky;
            position: sticky;
            top: 73px;

            [type="submit"] {
                background-color: #dc3545;
                border-color: #dc3545;
                color: #ffffff;

                &:hover {
                    background-color: #c82333;
                    border-color: #bd2130;
                }
            }
        }

        &.arshmodule-request-action-insert {
            // bootstrap 4 green colors
            .card {
                border-top-color: #28a745;

                .card-header {
                    color: #28a745;
                }
            }
            .arshmodule-html-piece-saver {
                [type="submit"] {
                    background-color: #28a745;
                    border-color: #28a745;
                    color: #ffffff;

                    &:hover {
                        background-color: #218838;
                        border-color: #1e7e34;
                    }
                }
            }
        }
        &.arshmodule-request-feature-update {
            // bootstrap 4 blue colors
            .card {
                border-top-color: #17a2b8;

                .card-header {
                    color: #17a2b8;
                }
            }
            .arshmodule-html-piece-saver {
                [type="submit"] {
                    background-color: #17a2b8;
                    border-color: #17a2b8;
                    color: #ffffff;

                    &:hover {
                        background-color: #138496;
                        border-color: #117a8b;
                    }
                }
            }
        }
    }
}
