@track-w: 40px;
@track-h: 20px;
@track-b: 2px;
@thumb-w: .5*(@track-w - 2*@track-b);
@thumb-h: @track-h - 2*@track-b;
@thumb-b: 3px;
div.toggle-checkbox {
    input {
        display: none;
        &:checked + label {
            --s: 1
        }
    }

    &.on-danger {
        label {
            --c: #d9534f;
        }
    }
    &.on-success {
        label {
            --c: #5cb85c;
        }
    }
    &.on-warning {
        label {
            --c: #f0ad4e;
        }
    }
    &.on-info {
        label {
            --c: #5bc0de;
        }
    }
    label {
        --s: 0;
        margin: 2px 0px 0px 0px;
        position: relative;
        filter: blur(.5px);
        cursor: pointer;
        &,
        &:before {
            border: solid @track-b transparent;
            width: @track-w; height: @track-h;
            border-radius: .5*@track-h;
            box-shadow: inset 0 .125em .75em rgba(#000, .5);
            background: linear-gradient(transparent, rgba(#000, .32)) padding-box,
                        linear-gradient(var(--c), var(--c)) padding-box,
                        linear-gradient(#bebebb, #fdfdfc) border-box;
        }
        &:before, &:after {
            position: absolute;
            top: 0; left: 0;
            content: ''
        }
        &:before {
            margin: -@track-b;
            opacity: calc(1 - var(--s));
            transition: .2s opacity;
        }
        &:after {
            border: solid @thumb-b transparent;
            width: @thumb-w; height: @thumb-h;
            border-radius: .5*@thumb-h;
            transform: translate(calc(var(--s)*100%));
            box-shadow: 0 1px 9px rgba(#000, .8);
            background: linear-gradient(#d1d1d1, #edede9) padding-box,
                        linear-gradient(#fcfcfc, #b2b2b2) border-box;
            transition: .2s transform ease-in;
        }
    }
    &.off-danger {
        label:before {
            --c: #d9534f;
        }
    }
    &.off-success {
        label:before {
            --c: #5cb85c;
        }
    }
    &.off-warning {
        label:before {
            --c: #f0ad4e;
        }
    }
    &.off-info {
        label:before {
            --c: #5bc0de;
        }
    }
}