.row.owl-carousel {
    // mobile
    &:not(.owl-carousel-off) {
        margin: 0;

        .item {
            width: auto;
            max-width: initial;
        }
    }

    // desktop
    &.owl-carousel-off {
        display: flex;
    }
}
