/*
 * Custom ArshWell classes for font-size, line-height, margin and padding
 */

html {
    $grid-breakpoints: ( // px
        "xs":   0,
        "sm":   576,
        "md":   768,
        "lg":   992,
        "xl":   1200,
        "xxl":  1400
    );

    @mixin lh-fz ($grid, $size) {
        $increaser: map-get(( // px
            "xs":   0,
            "sm":   1,
            "md":   2,
            "lg":   3,
            "xl":   4,
            "xxl":  5
        ), $size);

        $i: 12;
        @while $i <= 50 {
            $suffix: #{$i};
            $value: $i + $increaser;

            @if $grid == 'xs' {
                .fz-#{$suffix} {
                    font-size: #{$value}px;
                }
                .lh-#{$suffix} {
                    line-height: #{$value}px;
                }
            }
            @else {
                $suffix: "#{$grid}-#{$suffix}";
            }

            .fz-#{$suffix}-up {
                font-size: #{$value}px;
            }
            .lh-#{$suffix}-up {
                line-height: #{$value}px;
            }

            $i: $i + 2;
        }
    }

    @mixin margin-padding ($grid, $size) {
        $one: map-get(( // px
            "xs":   4, // NOTE: 3 is too small for mobiles
            "sm":   6,
            "md":   8,
            "lg":   10,
            "xl":   12,
            "xxl":  14
        ), $size);

        $parts: (
            "0":    #{0* $one}px,
            "1st":  #{1* $one}px,
            "2nd":  #{2* $one}px,
            "3rd":  #{3* $one}px,
            "4th":  #{4* $one}px,
            "5th":  #{5* $one}px,
            "6th":  #{6* $one}px,
            "7th":  #{7* $one}px,
            "8th":  #{8* $one}px,
            "9th":  #{9* $one}px,
            "10th": #{10* $one}px,
            "11th": #{11* $one}px,
            "12th": #{12* $one}px,
            "13th": #{13* $one}px,
            "14th": #{14* $one}px,
            "15th": #{15* $one}px,
            "16th": #{16* $one}px,
            "17th": #{17* $one}px,
            "18th": #{18* $one}px,
            "19th": #{19* $one}px,
            "20th": #{20* $one}px,
        );

        @each $name_1, $value_1 in $parts {
            @each $name_2, $value_2 in $parts {
                $suffix: "#{$name_1}-#{$name_2}";

                @if $grid != 'xs' {
                    $suffix: "#{$grid}-#{$suffix}";
                }

                .margin-#{$suffix} {
                    margin-top:     #{$value_1} !important;
                    margin-bottom:  #{$value_2} !important;
                }
                .padding-#{$suffix} {
                    padding-top:     #{$value_1} !important;
                    padding-bottom:  #{$value_2} !important;
                }
            }
        }
    }

    @each $grid, $grid_px in $grid-breakpoints {
        @each $size, $size_px in $grid-breakpoints {
            @if $size_px >= $grid_px {
                @media (min-width: #{$size_px}px) {
                    /* grid #{$grid} | size #{$size} ----------------------------------------------------------------------------------------------- */
                    @include lh-fz($grid, $size);

                    /* grid #{$grid} | size #{$size} ----------------------------------------------------------------------------------------------- */
                    @include margin-padding($grid, $size);
                }
            }
        }
    }
}
