RewriteEngine On

# Write allowed file
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^.*\.(html|css|js|png|ico) - [END,L]
RewriteRule ^$ - [END,L] # for root path

# If non-existent file, serve a 404 otherwise...
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^ - [R=404]
